*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: #1A0B2E;
}
.navbar{
  max-width:1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding: 20px;
}

 .menu{
  display: flex;
}
.menu li{
  font-size: 1.25rem;
  list-style: none;
  margin-left: 32px;
  color:#FFFFFF;
}

.logo img{
  max-width: 219px;
}
.btn{
  display: flex;
  gap: 4px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 12px;
  background-image: linear-gradient(  to left, #F7E93F 0%,#FB09B4 64%,#9100F8 100%);
  border: none;
  border-radius: 1000px;
  

}

.hamburger-menu{
  display: none;
}

.banner{
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
  display: flex;
}



.banner-container{
  /* max-width: 430px; */
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  /* position: relative; */
}

.banner-img img{
    width: 100%;
    justify-content: right;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    
    /* margin-left: 70px; */
}

.banner-img{
  width: 350px;
  height: 350px;
  /* border: 1px solid yellowgreen; */
  display: flex;
  margin: 0 auto;
  
}
.banner-img1{
  position: relative;
}

.banner-img2{
  position: absolute;
  left: 115px;
  top: 80px;
}
.banner-title{
  margin-top: 40px;


}
.banner-title>h1{
  font-size: 3.8rem;
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
  margin-top: 8px;
}
.banner-title>p{
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.btn-section{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-section .btn2{
  display: flex;
  gap: 8px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #00FF88;
  background-color:#1A0B2E;
  border: 1px solid #00FF88;
  border-radius: 1000px;
  justify-content: center;
  align-items: center;
}

.about-section{
  border: 1px solid #1A0B2E;
  background-color: #1A0B2E;
}

.about-container{
  max-width: 1200px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.about-container>h2{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.about-container>p{
  font-size: 1rem;
  line-height: 20px;
}
.about-box{
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid yellow; */
  color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  justify-content: space-between;
  gap: 80px;
  margin-top: 110px;
  margin-bottom: 120px;

}
.about-box .box{
    margin: 0 auto;
    text-align: center;
}

.box{
  width: 240px;
}

.box>h3{
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 16px;
}

.box>p{
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
}





@media screen and (max-width:576px) {

  .menu-container,
  .subscribe-btn
  {
    display: none;
  }

  .hamburger-menu{
  display: inline;
}

  .banner , .about-box{
    flex-direction: column;
  }

  .banner-title>h1{
  font-size: 2.5rem;
}
.banner-title>p{
  font-size: 1rem;
  text-align: center;

}
  
.about-box{
  grid-template-columns: repeat(2,1fr);
  gap:20px;
  margin-bottom:40px;
}
.about-container{
  margin-bottom: 80px;
}
.about-container>h2{
  font-size: 2rem;
}
.box>p{
  padding: 10px;
}
.box>h3{
  font-size: 2.5rem;
  font-weight: 700;
}
.box{
  width: 100%;
}
}