*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: #1A0B2E;
}
.navbar{
  max-width:1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding: 20px;
}

 .menu{
  display: flex;
}
.menu li{
  font-size: 1.25rem;
  list-style: none;
  margin-left: 32px;
  color:#FFFFFF;
}

.logo img{
  max-width: 219px;
}
.btn{
  display: flex;
  gap: 4px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 16px;
  background-image: linear-gradient(  to left, #F7E93F 0%,#FB09B4 64%,#9100F8 100%);
  border: none;
  border-radius: 1000px;

}

.hamburger-menu{
  display: none;
}








@media screen and (max-width:576px) {
  .menu-container,
  .btn{
    display: none;
  }

  .hamburger-menu{
  display: inline;
}

  
}