*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: #1A0B2E;
}
.navbar{
  max-width:1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding: 20px;
}

 .menu{
  display: flex;
}
.menu li{
  font-size: 1.25rem;
  list-style: none;
  margin-left: 32px;
  color:#FFFFFF;
}

.logo img{
  max-width: 219px;
}
.btn{
  display: flex;
  gap: 4px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 12px;
  background-image: linear-gradient(  to left, #F7E93F 0%,#FB09B4 64%,#9100F8 100%);
  border: none;
  border-radius: 1000px;
  

}

.hamburger-menu{
  display: none;
}

.banner{
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
  display: flex;
  background-size: cover;
  background-position: center;
  min-height: 750px;
}



.banner-container{
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.banner-container .banner-img{
  position: relative;
}

.banner-container .banner-img .banner-img1{
  width: 350px;
  height: 350px;

}

.banner-container .banner-img .banner-img2{
  width: 120px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.banner-container .banner-img span{
  background-color:#00FF88;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1A0B2E;
  box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
  padding: 8px 16px;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  left: 340px;
  top: 8px;
}

.banner-title{
  margin-top: 40px;


}
.banner-title>h1{
  font-size: 3.8rem;
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
  margin-top: 8px;
}
.banner-title>p{
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.btn-section{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-section .btn2{
  display: flex;
  gap: 8px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #00FF88;
  background-color:#1A0B2E;
  border: 1px solid #00FF88;
  border-radius: 1000px;
  justify-content: center;
  align-items: center;
}

.about-section{
  border: 1px solid #1A0B2E;
  background-color: #1A0B2E;
}

.about-container{
  max-width: 1200px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.about-container>h2{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.about-container>p{
  font-size: 1rem;
  line-height: 20px;
}
.about-box{
  max-width: 1200px;
  margin: 0 auto;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  justify-content: space-between;
  gap: 80px;
  margin-top: 110px;
  margin-bottom: 120px;

}
.about-box .box{
    margin: 0 auto;
    text-align: center;
}

.box{
  width: 240px;
}

.box>h3{
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 16px;
}

.box>p{
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
}

.choose-container{
  background-color: #230E3D;
  min-height: 1150px;
}

.choose-title{
  display: flex;
  justify-content: center;
}
.choose-title>h2{
  margin-bottom: 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 120px;

}
.choose-card>h5{
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFFFFF;
}

.choose-card>p{
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 24px;
  
}
.card-contaent{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(3,1fr);
}
.choose-card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}
#card1{
  grid-column: span 1;
  grid-row: span 2;
  padding-top: 60px;
}

#card-4{
  grid-column: span 2;
  grid-row: span 1;
}
#card-3{
  grid-column: span 2;
  grid-row: span 1;
}
.featured{
  background-color: #1A0B2E;
}
.featured-section{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 1250px;

}
.featured-container{
  margin: 0 auto;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.featured-section>h3{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  /* margin-top: 120px; */
}
  
.card-container iframe{
  width: 100%;
  
}
.card-title>h4{
  font-size: 24px;
  font-weight: bold;
  color:#FFFFFF;
  text-align: center;
  margin-top: 24px;
}
.card-title>p{
  font-size: 1rem;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 12px;
}
 .card-title .icon{
  font-size: 1rem;
  line-height: 24px;
  color: #00FF88;
 }

 .card-title .icon{
  padding:25px;

 }

.featured-contact{
  margin-top: 120px;
  border-radius: 40px;
}
.featured-contact>h1{
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}

.host-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(53, 17, 101, 0.4);
}

.host-img>img{
  width: 300px;
  height: 300px;
  padding: 40px;
}

.host-title>h2{
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.host-title>p{
  font-size: 1rem;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.host-icon{
  display: flex;
  gap: 8px;
}
.icon1{
  width: 40px;
  height: 40px;
  display: flex;
  border: 1px solid  #533C72;
  border-radius: 100%;
  align-items: center;
  justify-content: center;

}


.footer-section{
  background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.footer-container{
  max-width: 1600px;
  margin: 0 auto;
  min-height: 412px;
}

.footer-image>img{
  max-width: 410px;
  height: 60px;
  margin-top: 100px;
}
.footer-links ul{
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  gap: 40px;
  margin-top: 32px;
}
.footer-links ul li{
  display: flex;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
}

.footer-links ul li >p{
  margin-left:8px;
}

.footer-description>p{
  font-size: 1rem;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 32px;
}

@media screen and (max-width:576px) {

  .menu-container,
  .subscribe-btn 
  {
    display: none;
  }

  .hamburger-menu{
  display: inline;
}

  .banner ,
   .about-box ,
   .featured-container,
   .host-container,
   .footer-links ul{
    flex-direction: column;
  }

  .banner-title>h1{
  font-size: 2.5rem;
}
.banner-title>p{
  font-size: 1rem;
  text-align: center;

}
  
.about-box{
  grid-template-columns: repeat(2,1fr);
  gap:20px;
  margin-bottom:40px;
}
.about-container{
  margin-bottom: 80px;
}
.about-container>h2{
  font-size: 2rem;
}
.box>p{
  padding: 10px;
}
.box>h3{
  font-size: 2.5rem;
  font-weight: 700;
}
.box{
  width: 100%;
}

.card-contaent{
  display: grid;
  gap: 16px;
  grid-template-columns:repeat(1,1fr);

}
#card1,
#card-3,
#card-4,
#card-5 {
  grid-column: span 1;
  grid-row: span 2;
}

.choose-card{
 padding: 24px;
 margin: 0 20px;
 border-radius: 24px;
}

.featured-container{
  width: 100%;
  gap: 16px;
}

.host-container{
  width: 100%;
  text-align: center;
  padding: 24px;
}


.featured-contact>h1{
  font-size: 1.5rem;
}

.host-icon{
  justify-content: center;
}

.featured-contact>h1{
  font-size: 2rem;
}

.footer-links ul{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:8px;
  margin-top:24px;
  margin-left: 50px;
}
.footer-links ul li{
  text-align: center;
}
.footer-image>img{
  width: 100%;
}

}
